<link rel="stylesheet" href="/css/chat.css">
<div class="chat-header">
    <h2>Mis Chats</h2>
    <div class="chat-header-buttons">
        <input type="text" id="chat-buscar" class="chat-buscador" placeholder="Buscar amigos..."> 
        <button type="button" class="chat-buscador-boton" onclick="buscar()">Buscar</button>
    </div>
    <div>
        <ul id="chat-results" class="chat-results"></ul>
        <form id="chat-redirect-form" method="post" action="/chat" style="display: none;">
        </form>
    </div>
</div>
<div id="chat-list">
    <% if (chats && chats.length > 0) { %>
        <% chats.forEach(chat => { %>
            <a href="/chat/<%= chat.id %>" class="chat-item">
                <div class="chat-avatar"></div>
                <div class="chat-info">
                    <% if (chat.username_1 === sessionUsername) { %>
                        <strong><%= chat.username_2 %></strong>
                    <% } else { %>
                        <strong><%= chat.username_1 %></strong>
                    <% } %>
                    <span class="last-message">
                        <% if (chat.ult_mensaje.length > 20) { %>
                            <%= chat.ult_mensaje.substring(0, 20) + "..." %>
                        <% } else { %>
                            <%= chat.ult_mensaje %>
                        <% } %>
                    </span>
                </div>
                <div class="chat-time">
                    <%= chat.fecha_ult %>
                </div>
            </a>
        <% }) %>
    <% } else { %>
        <p>No hay chats disponibles</p>
    <% } %>
</div>

<script src="/js/busquedaAmigos.js"></script>