
<% for (let i = 0; i < publicaciones.length; i++) { %>


    <div class="feed_post" post_id="<%= publicaciones[i].id %>">

        <div class="feed_head">
            <div class="feed_tit"><h2><%= publicaciones[i].titulo %></h2></div>
            <div class="feed_pfp">
                <% for (let j = 0; j < usuarios[i].length; j++) { 
                    let usuariosi = usuarios[i];%>
                    <% if (usuariosi[j].fotoperfil !== null) { %>
                        <img src="/imagen/<%= fotoperfil %>" alt="Imagen de perfil" class="contributor-img">
                    <% } else { %>
                        <img src="/iconos/perfil_imagen.jpg" alt="Imagen de perfil" class="contributor-img">
                    <% } %>
                <% } %>  
            </div>
            <div class="feed_butt">
                <span class="feed_like-counter">
                    <%= publicaciones[i].likes || 0 %>
                </span>
                <button class="feed_like" data-liked="<%= userLikes.includes(publicaciones[i].id) %>">
                    <img src="<%= userLikes.includes(publicaciones[i].id) ? '/iconos/like_relleno.png' : '/iconos/like_vacio.png' %>" 
                        width="30" alt="like">
                </button>
                <button class="feed_save">
                    <img src="<%= userSaves.includes(publicaciones[i].id) ? '/iconos/save_relleno.png' : '/iconos/save_vacio.png' %>" 
                    width="35" alt="a">
                </button>
            </div>
        </div>
    
        <div class="feed_imgs">
            <button type="button" class="feed_carroussel-btn" id="feed_anterior_<%= publicaciones[i].id %>">←</button>
            <div class="feed_multimedia">
                <div id="feed_image_<%= publicaciones[i].id %>" class="feed_image"></div>
                <p id="feed_pie-de-foto_<%= publicaciones[i].id %>" class="feed_pie-de-foto">Aquí va el pie de foto</p>
            </div>
            <button type="button" class="feed_carroussel-btn" id="feed_siguiente_<%= publicaciones[i].id %>">→</button>
        </div>
    
    </div>
    
<% } %>

  <script>

        document.addEventListener("DOMContentLoaded", function () {

            const multimediaData = JSON.parse('<%- multimediaPorPost %>');

            const userLikes = JSON.parse('<%- userLikes || "[]" %>');
            const userSaves = JSON.parse('<%- userSaves || "[]" %>')
            let userId = '<%= userId || "null" %>';
            if (userId === 'null') userId = null;

            document.querySelectorAll(".feed_post").forEach(post => {
                const postId = post.getAttribute("post_id");

                //codigo carrusel:
                const multimedia = multimediaData[postId] || [];

                if (!multimedia || multimedia.length === 0) return;

                let posicionActual = 1;

                const antBoton = document.getElementById(`feed_anterior_${postId}`);
                const sigBoton = document.getElementById(`feed_siguiente_${postId}`);
                const imagenContainer = document.getElementById(`feed_image_${postId}`);
                const pieDeFoto = document.getElementById(`feed_pie-de-foto_${postId}`);


                function renderizarImagen() {
                    const actual = multimedia.find(m => m.pos === posicionActual);
                    if (!actual) return;

                    imagenContainer.style.backgroundImage = `url('/imagen/${actual.archivo}')`;
                    imagenContainer.style.backgroundSize = "contain";
                    imagenContainer.style.backgroundRepeat = "no-repeat";
                    imagenContainer.style.backgroundPosition = "center";
                    imagenContainer.style.width = "450px";
                    imagenContainer.style.height = "450px";

                    pieDeFoto.textContent = actual.texto || ""; 

                    antBoton.style.opacity = posicionActual === 1 ? 0 : 1;
                    sigBoton.style.opacity = posicionActual === multimedia.length ? 0 : 1;
                }

                function pasarFoto() {
                    if (posicionActual < multimedia.length) {
                        posicionActual++;
                        renderizarImagen();
                    }
                }

                function retrocederFoto() {
                    if (posicionActual > 1) {
                        posicionActual--;
                        renderizarImagen();
                    }
                }

                antBoton.addEventListener("click", retrocederFoto);
                sigBoton.addEventListener("click", pasarFoto);

                renderizarImagen();
                //fin codigo carrusel

                //codigo botón like
                const likeButton = post.querySelector(".feed_like");
                const likeImg = likeButton.querySelector("img");
                
                if (userLikes.includes(postId)) {
                    likeImg.src = "/iconos/like_relleno.png";
                    likeButton.classList.add("liked");
                }

                likeButton.addEventListener("click", () => {

                    if (userId === null) {
                        alert("Debes iniciar sesión para dar like a una receta");
                        return;
                    }

                    fetch(`/like/${postId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error en la respuesta");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.liked) {
                            likeImg.src = "/iconos/like_relleno.png";
                            likeButton.classList.add("liked");
                        } else {
                            likeImg.src = "/iconos/like_vacio.png";
                            likeButton.classList.remove("liked");
                        }
                    })
                    .catch(error => {
                        alert("Error al procesar el like");
                    });
                }); //fin codigo like

                const saveButton = post.querySelector(".feed_save");
                const saveImg = saveButton.querySelector("img");
                
                if (userSaves.includes(postId)) {
                    saveImg.src = "/iconos/save_relleno.png";
                    saveButton.classList.add("saved");
                }

                saveButton.addEventListener("click", () => {

                    if (userId === null) {
                        alert("Debes iniciar sesión para guardar una receta");
                        return;
                    }

                    fetch(`/save/${postId}`, {
                        method: "POST",
                        headers: {
                            "Content-Type": "application/json"
                        }
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error("Error en la respuesta");
                        }
                        return response.json();
                    })
                    .then(data => {
                        if (data.saved) {
                            saveImg.src = "/iconos/save_relleno.png";
                            saveButton.classList.add("saved");
                        } else {
                            saveImg.src = "/iconos/save_vacio.png";
                            saveButton.classList.remove("saved");
                        }
                    })
                    .catch(error => {
                        alert("Error al procesar el save");
                    });
                });

            });
        });
  </script>
 