<link rel="stylesheet" href="/css/perfil.css">


<div class="general">
    <div class="cabecera-recetario">
        <div class="texto-cabecera-perfil">
            <!-- <img src="/iconos/save_relleno.jpg" alt="No encontrada" class="perfil-img"> -->
            <h1>Recetario</h1>
        </div>
        <h3>Aquí encontrarás todas tus recetas guardadas</h3>
    </div>
    <div class="publicaciones">
        <% for (let i = 0; i < guardados.length; i++) { %>
            <div class="publicacion">
                <div class="recetario_pfp">
                    <% for (let j = 0; j < usuarios[i].length; j++) { 
                        let usuariosi = usuarios[i];%>
                        <% if (usuariosi[j].fotoperfil !== null) { %>
                            <img src="/imagen/<%= usuariosi[j].fotoperfil %>" alt="Imagen de perfil" class="contributor-img">
                        <% } else { %>
                            <img src="/iconos/perfil_imagen.jpg" alt="Imagen de perfil" class="contributor-img">
                        <% } %>
                    <% } %>  
                </div>
                <div class="texto-publicacion">
                    <h3><%= guardados[i].titulo %></h3>
                    <%= guardados[i].creador_1 %>, <%= guardados[i].creador_2 %>
                    <% if (guardados[i].creador_3 != null) { %> , <%= guardados[i].creador_3%>
                        <% if (guardados[i].creador_4 != null) { %> , <%= guardados[i].creador_4 %>
                            <% if (guardados[i].creador_5 != null) { %> , <%= guardados[i].creador_5 %>
                            <% } %>
                        <% } %>
                    <% } %>
                </div>
            </div> 
        <% } %>            
    </div>
</div>

